///////////////////////////////////////////////////

/* The parent container, with perspective */
.container {
  width: 800px;
  height: 800px;
  // border: 2px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 4000px;
  perspective-origin: center calc(50% - 2.4em);
  margin: 300px auto;

  

}

.outer-cube {
  transform-style: preserve-3d;
  animation: rotateY 60s linear infinite
  ;
  perspective-origin: top right;
  transform: rotateX(-20deg);
  width: 400px;
  height: 400px;
  position: relative;
  &__side {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &__front {
    background-color: #6662;
    transform: translateZ(200px);
  }
  &__back {
    background-color: #6663;
    transform: rotateY(180deg) translateZ(200px);
  }
  &__left {
    background-color: #6664;
    transform: translateX(-200px) rotateY(90deg);
  }
  &__right {
    background-color: #6665;
    transform: translateX(200px) rotateY(90deg);
  }
  &__top {
    background-color: #6666;
    transform: translateY(-200px) rotateX(90deg);
  }
  &__bottom {
    background-color: #6667;
    transform: translateY(200px) rotateX(90deg);
  }
}
.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: 
  // cubeRotate 10s linear infinite, 
  // rotateY 15s linear infinite,
  moveCubeInside 10s linear infinite
  // rotate 5s ease-in-out infinite

;


  @keyframes moveCubeInside {
    0% {
      transform: translate3d(1px, 1px, -149px);
      animation-timing-function: ease-in-out;
    }
    
    9% {
      transform: translate3d(1px, 1px, 149px);
      animation-timing-function: ease-in-out;
    }
    
    18% {
      transform: translate3d(299px, 1px, 149px);
      animation-timing-function: ease-in-out;
    }
    27% {
      transform: translate3d(299px, 1px, -149px);
      animation-timing-function: ease-in-out;
    }
    36% {
      transform: translate3d(1px, 1px, -149px);
      animation-timing-function: ease-out;
    }
    45% {
      transform: translate3d(1px, 299px, -149px);
      animation-timing-function: ease-out;
    }
    54% {
      transform: translate3d(1px, 299px, 149px);
      animation-timing-function: ease-out;
    }
    63% {
      transform: translate3d(299px, 299px, 149px);
      animation-timing-function: ease;
    }
    72% {
      transform: translate3d(299px, 299px, -149px);
      animation-timing-function: ease;
    }
    81% {
      transform: translate3d(1px, 299px, -149px);
      animation-timing-function: ease;
    }
    100% {
      animation-timing-function: ease;
      transform: translate3d(1px, 1px, -149px);
    }
  }
}

/* The sides of the cube, absolutely positioned */
.side {
  // animation: rotate 10s linear infinite;

  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  // border: 2px solid white;
}

/* Background colors for the cube's sides to help visualize the work */
.front {
  // background-color: #d50000;
  background-image: linear-gradient(to bottom, red, yellow);
}
.back {
  background-image: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet);
}

.left {
  background-image: linear-gradient(to right, green, yellow, orange);
}
.right {
  background-image: linear-gradient(to left, purple, blue, black);
}

.top {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}
.bottom {
  background-image: repeating-linear-gradient(orange, black 10%, orange 40%);
}

.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}

.left {
    transform: translateX(-50px) rotateY(90deg);
}
.right {
  transform: translateX(50px) rotateY(90deg) rotateZ(90deg);
}

.top {
    transform: translateY(-50px) rotateX(90deg);
}
.bottom {
  transform: translateY(50px) rotateX(90deg);
}

.spinning-side {
  width: 50%;
  height: 50%;
  background-color: black;
  left: 15%;
  top: 10%;
  padding: .8em;
  animation: spinSide 4s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "Hello 3D!";
    color: white;
    text-decoration: underline;
    font-size: 20px;
    font-family: cursive;
  }
}

@keyframes spinSide {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes cubeRotate {
  from {
    transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
  }
}

@keyframes rotateY {
  to {
    transform: rotateY(120deg) rotateX(120deg) rotateZ(120deg);
  }
  
}
@keyframes rotateX {
  to {
  }
  
}